header{
  display: flex;
  justify-content: space-between;
  padding: 8px 0 8px 0;
  border-bottom: 1px solid #a5a5a5;
}

.logo{
  display: flex;

  img{

  }
}

.search-block{
  display: flex;
  width: 33%;

  input {
    width: 100%;
  }
}

.control{
  display: flex;
  width: 7%;

  .exit-button{
    width: 100%;
  }
}