.mail-list-container{
  flex-basis: 80%;

  ul{
    list-style: none;
  }
}

.mail-list{
  margin-top: 8px;
}

.hidden{
  display: none;
}

.let{
  border: 1px solid #a5a5a5;
  margin-bottom: 1px;
}

.active-letter {
  font-weight: 700;
}